.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $l-size;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
    color: $google-red;
}

.SingleDatePicker{
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
        width: 100%;
        .SingleDatePickerInput {
            width: 100%;
            .DateInput {
                width: 100%;
            }
        }
    }
 }

 .form-body {
    margin-bottom: $m-size;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}